* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

img {
  width: 100%;
}

button{
  background: transparent;
  border: 0;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 936px;
}

.title {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  color: #070707;
}

.text {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #070707;
}

.lang-active{
  color: black;
}

/* global style */

/* header */
nav{
border-bottom: 1px solid #828282;
margin-bottom: 95px;
}

.header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  position: static;
}
/* .nav-line{
  border: 1px solid #828282;
} */

.navSec{
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
    color: #828282;
    display: block;
  }

  .navSec:hover{
  color:  #6e6767a7;
  transform: scale(1.3);
  transition: 2s;
  }
 
  .navHome{
    color: #070707;
  }
  .gum-button{
    visibility: hidden;
  }

  .button{
    display: none;
  }
  .crose-close{
    font-size: 25px;
  }
.header__lang-gum{
  display: none;
}

  @media (max-width: 576px) {
   .gum-button{
    visibility: hidden;
   }
   .button{
    display: block;
    text-align: right;
  }
  .crose-close {
    display: none;
}
.header__menu{
  margin-top: 66px;
  height: 0;
  overflow: hidden;
  position: static;
  width: 100vw;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 68px;
  
}
.navSec{
  font-weight: 400;
font-size: 34px;
line-height: 39px;
}
.gum-button:checked ~ .header__menu {
  background-color: white;
  height: 812px;
}

.gum-button:checked~.button .crose {
  display: none;
}
.gum-button:checked~.button .crose-close {
  display: block;
}
.crose-close{
position: absolute;
right: 28px;
}
.header__lang{
  display: none;
}
.header__lang-gum{
  position: absolute;
  right: 32px;
  bottom: 113px;
  font-family: 'Arial';
font-style: italic;
  font-weight: 400;
font-size: 34px;
line-height: 39px;
}
.header__lang-gum{
  display: block;
}
.nav-line{
  display: none;
}
  }

.header__content{
  display: flex;
  justify-content: space-between;
align-items: center;
margin-bottom: 42px;

}

.header__img{
  margin-bottom: 104px;
}

.header__title{
  font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 47.3392px;
line-height: 54px;
color: #070707;
}

.header__specialty{
  font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #070707;
}

.header__lang{
  font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #828282;
}
/* header End */

/* About */

.about{
  background: #f6f6f6;
  padding-top: 120px;
  padding-bottom: 107px;
}

.about-containe{
  max-width: 485px;
}

.about__title{
  margin-bottom: 18px;
}

.about__text{
    padding-bottom: 38px;
}
.about__text:last-child{
padding-bottom: 0;
}

/* About End */

.skills__containe{
  padding-top: 91px;
  padding-bottom: 110px;
}

/* Skills */
.skills__title{
  margin-bottom: 69px;
}

.skills__text{
  margin-bottom: 83px;
}

.skills__technologies{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__stars-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__ithems{
width: 166px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.skills__img{
  max-width: 89px;
  max-height: 89px;
  margin-bottom: 28px;
}

.skills__name{
  font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #828282;
margin-bottom: 40px;
}

.skills__stars-container{
  max-width: 166px;
}
/* Skills End */

/* Portfolio */

.portfolio {
  background: #f6f6f6;
  padding-top: 112px;
  padding-bottom: 96px;
}

.portfolio__title {
  margin-bottom: 47px;
}

.portfolio__img {
  min-width: 500px;
  margin-bottom: 40px;
}

.portfolio__text {
  margin-bottom: 99px;

}

/* Portfolio End */

/* footer */
.footer {
  padding-top: 114px;
  padding-bottom: 123px;
}

.footer__contain {
  max-width: 342px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.footer__title {
  margin-bottom: 20px;
}

.footer__text {
  margin-bottom: 30px;
}

.footer__button {
  max-width: 180px;
  background-color: black;
 padding: 13px 29px;
 border-radius: 40px;
 color: white;
 cursor: pointer;
  margin-bottom: 85px;
}

.footer__button:hover{
  background-color: grey;
  color: blanchedalmond;
  transition: 1s ease-out;
}

.footer__social-row {
  display: flex;
  gap: 61px;
  cursor: pointer;
  margin-bottom: 45px;
}

.footer__social-item:hover{
transform: scale(1.2);
transition: 1s ease-out;
}

.footer__link-text {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #828282;
}
/* footer end */
